.logo {
    width: 100px;
    height: 50px;
}

.footer-container {
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: #FFB612;
}